{{ define "main" }}

<h1>Hello</h1>
<p>There's not much here, I just recently started blogging again.</p>

<h2>Recent posts</h2>
<ul class="list-unstyled">
  {{ range first 5 .Site.RegularPages }} {{ if eq .Section "posts" }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </li>
  {{ end }} {{ end }}
</ul>

<h2>My Projects</h2>
<ul>
  <li>
    <a href="https://www.avapls.com">Ava PLS</a> - Chat with LLMs locally.
  </li>
  <li>
    <a href="https://github.com/cztomsik/napigen">Napigen</a> - Node.js bindings
    for your Zig project.
  </li>
</ul>
{{ end }}
