main a:is(*, :visited, :hover, :active) {
  color: rgb(37 99 235);
}

main p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main :is(h1, h2, h3) {
  margin-top: 3rem;
  font-weight: 500;
}

main h1 {
  font-size: 1.25rem;
}

main h2 {
  font-size: 1.125rem;
}

main h3 {
  font-size: 1rem;
}

main blockquote {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: rgb(247 247 247);
  border-left: 0.25rem solid rgb(37 99 235);
}

main blockquote p:first-of-type::before,
main blockquote p:last-of-type::after {
  content: none;
}

pre {
  overflow-x: auto;
  padding: 1rem;
  background-color: rgb(247 247 247);
  border-radius: 0.25rem;
}

code:not(:is(pre code)) {
  font-weight: 600;
  margin: 0 0.125rem;
  font-size: 0.875rem;
}

body .container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 45rem;
}